/*other*/
html{
	width: 100%;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

* {
  font-family: 'Microsoft JhengHei','PT Sans Narrow','Source Han Sans TWHK',sans-serif;
  color: #006F24;
  text-align: center;
  text-decoration: blink;
}

/*nav*/
div.meny {
	background-color: white;
	padding-top: 30px;
}

div.meny-fix {
	position: fixed;
	width: 100%;
}

.nav {
	position: relative;
	background-color: #EA8557;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	margin: 10px;
	color: white;
	font-size: 20px;
}

.nav:hover {
	background-color: rgba(234, 133, 87, 0.7);
}

.page {
	position: fixed;
	bottom: 20%;
	width: 100%;
}

/*content*/
div.container {
	height: 100%;
	width: 500%;
	background-color: gray;
}

div.content {
	position: relative;
	float: left;
	width: 20%;
    height: 100%;
	text-align: center;
}

div.content h1 {
	font-size: 80px;
}

div.content h2 {
	font-size: 50px;
}

div.content h3 {
	font-size: 25px;
}

div.content h4 {
	font-size: 20px;
}

div.content h5 {
	font-size: 15px;
}

div.content h6 {
	font-size: 10px;
}

div.content p {
	font-size: 20px;
}

/*text*/
div.text * {
	text-align: left;
}

div.text {
	display: inline-block;
	margin-top: 0px;
	margin-right: 40%;
	width: 40%;
	background-color: rgba(0, 0, 0, 0);
	padding-left: 40px;
	padding-right: 40px;
}

div.text li {
	font-size: 15px;
}

img {
	width: 40%;
	position: absolute;
	right: 5%;
	border-radius: 5px;
}

/*background*/
#con1 {
	background-color: #FFBD74;
}

#con2 {
	background-color: #BB71FF;
}

#con3 {
	background-color: #B1CDFF;
}

#con4 {
	background-color: #A6FF94;
}

#con5 {
	background-color: #FF9F9F;
}