/*other*/
html{
	width: 100%;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	z-index: -500;
}

* {
  font-family: 'Microsoft JhengHei','PT Sans Narrow','Source Han Sans TWHK',sans-serif;
  color: #006F24;
  text-align: center;
}

/*nav*/
div.homeNav {
	position: absolute;
	width: 100%;
	bottom: 10%;
	text-align: center;
}

div.homeNav * {
	display: inline-block;
}

div.homeNav img, a img {
	height: 80px;
	width: 80px;
	margin-left: 50px;
	margin-right: 50px;
}

div.homeNav a {
	font-size: 50px;
	text-decoration: blink;
	font-family: "微軟正黑體";
	color: white;
}

div.straght1 {
	position: fixed;
	-webkit-transform: translateZ(0);
	background-color: #595959;
	top: 0%;
	width: 100%;
	margin: 0px auto;
	border: 0px;
	text-align: center;
	z-index: 10;
}

li.index {
	display: inline;
	margin: 30px;
	font-family: "微軟正黑體";
	color: white;
}

a.index {
	text-decoration: blink;
	font-family: "微軟正黑體";
	color: white;
	font-size: 35px;
}

img.index {
	height: 50px;
}


div.footer{
	position: relative;
	display: table;
	width: 100%;
	background-color: #595959;
}

/*fixed-bg*/
.fixed-bg {
	background-size: cover;
	background-attachment: fixed;
	-webkit-transform: translateZ(0);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -500;
}

/* .fixed-bg:before {
	background-size: cover;
	background-attachment: fixed;
	will-change: transform;
	-webkit-transform: translateZ(0);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
    height: 100%;
	z-index: -500;
} */

.block {
	width: 100%;
	height: 500px;
	background-color: rgba(0, 0, 0, 0);
}

/*content*/
div.content {
	position: relative;
	display: table;
	width: 100%;
    height: 100%;
	text-align: center;
}

div.content h1 {
	font-size: 80px;
}

div.content h2 {
	font-size: 50px;
}

div.content h3 {
	font-size: 25px;
}

div.content h4 {
	font-size: 20px;
}

div.content h5 {
	font-size: 15px;
}

div.content h6 {
	font-size: 10px;
}

div.content p {
	font-size: 20px;
}

/*text*/
div.text * {
	text-align: left;
}

div.text {
	display: inline-block;
	margin: 30px;
	background-color: rgba(0, 0, 0, 0);
	padding-left: 40px;
	padding-right: 40px;
}

div.text li {
	font-size: 15px;
}

/*background*/
#home {
    background-image: url(../picture/testPt1.jpg);
	/* background-repeat: no-repeat;
	background-size: cover; */
}

#home h1,#home h2,#home h3,#home h4,#home h5,#home h6,#home p {
	color: white;
}

#introduction-grow {
	background-color: white;
	height: 600px;
}

#introduction {
	float: left;
	position: relative;
	width: 50%;
	height: 600px;
}

#grow {
	float: left;
	position: relative;
	width: 50%;
	height: 600px;
}

/*video*/
#video {
	float: left;
	position: relative;
	width: 50%;
	height: 600px;
}

.video-block-groupl {
	float: left;
	position: relative;
	height: 600px;
	width: 60px;
}

.video-block-groupr {
	float: right;
	position: relative;
	height: 600px;
	width: 60px;
}

.video-block {
	float: top;
	border-style: solid;
	border-width: 15px;
	color: gray;
	height: 30px;
	width: 30px;
	position: relative;
}

.video-main-group {
	position: relative;
	height: 600px;
}

.video-main-group * {
	color: gray;
}

.video-title {
	top: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 15px;
	border-bottom-width: 15px;
	color: gray;
	height: 150px;
	position: relative;
}

.video-content {
	position: relative;
	height: 300px;
}

.video-footer {
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 15px;
	border-bottom-width: 15px;
	color: gray;
	height: 90px;
	position: relative;
}

video {
	position: relative;
	max-height: 100%;
	max-width: 75%;
}

#photo {
	float: left;
	position: relative;
	width: 50%;
	height: 600px;
}

#photo-video {
	background-color: white;
	height: 600px;
}

#game {
	background-color: white;
	height: 600px;
}

#subLayout1 {
	background-image: url(../picture/testPt2.jpg);
	/* background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; */
}

#subLayout2 {
	background-image: url(../picture/testPt3.jpg);
	/* background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; */
}