/*other*/
html{
	width: 100%;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

* {
  font-family: 'Microsoft JhengHei','PT Sans Narrow','Source Han Sans TWHK',sans-serif;
  color: white;
  text-align: center;
  text-decoration: blink;
}

/*container*/
.container-left {
	height: 100%;
	width: 50%;
	position: absolute;
	left: 0%;
	background-color: #545454;
	border-right-style: solid;
	border-right-color: white;
	border-width: 5px;
}

a.container-left:hover {
	background-color: #B1B1B1;
}

#left1 {
    z-index: 100;
}

#left2 {
	z-index: 80;
}

.container-right {
	height: 100%;
	width: 50%;
	position: absolute;
	right: 0%;
	background-color: #545454;
	border-left-style: solid;
	border-left-color: white;
	border-width: 5px;
}

a.container-right:hover {
	background-color: #B1B1B1;
}

#right1 {
    z-index: 100;
}

#right2 {
    z-index: 80;
}

/*content*/
div.content {
	position: relative;
	display: table;
	width: 100%;
    height: 50%;
	text-align: center;
}

div.content h1 {
	font-size: 80px;
}

div.content h2 {
	font-size: 50px;
}

div.content h3 {
	font-size: 25px;
}

div.content h4 {
	font-size: 20px;
}

div.content h5 {
	font-size: 15px;
}

div.content h6 {
	font-size: 10px;
}

div.content p {
	font-size: 20px;
}

/*text*/
div.text-container * {
	text-align: center;
}

div.text-container {
	display: table-cell;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0);
}

.text * {
	text-align: center;
}

.text {
	display: block;
	background-color: rgba(0, 0, 0, 0);
	padding-left: 40px;
	padding-right: 40px;
}

/*photo*/
div.img-container {
	display: block;
	position: relative;
	width: 100%;
	height: 50%;
}

#pp1 {
	background-image: url("../photo/Squirrel.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#ee1 {
	background-image: url("../photo/Squirrel.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#pp2 {
	background-image: url("../photo/Squirrel.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#ee2 {
	background-image: url("../photo/Squirrel.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}