/*other*/
html{
	width: 100%;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-color: #7ABCFF;
}

* {
  font-family: 'Microsoft JhengHei','PT Sans Narrow','Source Han Sans TWHK',sans-serif;
  color: white;
  text-align: center;
  text-decoration: blink;
}
/*photo*/
.thumb {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 20px auto 60px auto;
	cursor: pointer;
}
	.thumb img {
		position: absolute;
		top: 0;
		left: 0;
		border: 5px solid white;
		outline: 1px solid #999;
		background: #fff;
	}
	

div.img-content {
	position: relative;
	display: none;
	width: 100%;
    height: 55%;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
}

.slide {
	padding: 0px;
	margin-top: 10px;
	border: 10px;
	border-style: solid;
	border-color: white;
	width: 220px;
	height: 300px;
}

.slides {
	clear: both;
	width: 100%;
	height: 100%;
	display: block;
	left: 38%;
}

.play {
	position: absolute;
	bottom: 5%;
	left: 65%;
	cursor: pointer;
	height: 50px;
	width: 50px;
}

.close {
	position: absolute;
	bottom: 25%;
	left: 65%;
	cursor: pointer;
	height: 50px;
	width: 50px;
}

/*content*/
div.content {
	z-index: 50;
	position: relative;
	width: 100%;
    height: 60%;
	text-align: center;
	background-color: rgba(0,0,0,0);
}

div.content h1 {
	font-size: 80px;
}

div.content h2 {
	font-size: 50px;
}

div.content h3 {
	font-size: 25px;
}

div.content h4 {
	font-size: 20px;
}

div.content h5 {
	font-size: 15px;
}

div.content h6 {
	font-size: 10px;
}

div.content p {
	font-size: 20px;
}

/*text*/
div.text * {
	text-align: left;
}

div.text {
	display: inline-block;
	margin: 30px;
	background-color: rgba(0, 0, 0, 0);
	padding-left: 40px;
	padding-right: 40px;
}