/*other*/
html{
	width: 100%;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-color: black;
}

* {
  font-family: 'Microsoft JhengHei','PT Sans Narrow','Source Han Sans TWHK',sans-serif;
  color: white;
  text-align: center;
  text-decoration: blink;
}

/*content*/
div.content {
	z-index: 50;
	position: relative;
	display: table;
	width: 100%;
    height: 100%;
	text-align: center;
}

div.content h1 {
	font-size: 80px;
}

div.content h2 {
	font-size: 50px;
}

div.content h3 {
	font-size: 25px;
}

div.content h4 {
	font-size: 20px;
}

div.content h5 {
	font-size: 15px;
}

div.content h6 {
	font-size: 10px;
}

div.content p {
	font-size: 20px;
}

/*text*/
div.text * {
	text-align: left;
}

div.text {
	display: inline-block;
	margin: 30px;
	background-color: rgba(0, 0, 0, 0);
	padding-left: 40px;
	padding-right: 40px;
}

div.text li {
	font-size: 15px;
}

/*video*/
.video-content {
	width: 100%;
	height: 100%;
	display: table;
	margin: 0;
	border: 0;
}

.video-img {
	width: 25%;
	height: 25%;
	margin: 0;
	border: 0;
	display: table;
	position: relative;
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

div.video-wrap {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	font-size: 200%;
	padding-top: 20%;
	display: table;
	
	/*background*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#video-title {
	background-color: black;
}

#video-window {
	z-index: 500;
	height: 80%;
	width: 75%;
	top: 25%;
	left: 25%;
	background-color: black;
}

#close-img {
	position: absolute;
	top: 0%;
	right: 0%;
	height: 10%;
	width: 5%;
}

video {
	position: relative;
	height: 75%;
	width: 75%;
}

/*wall-img*/
#img1 {
	background-image: url("../photo/Squirrel.jpg");
}

#img2 {
	background-image: url("../photo/Squirrel.jpg");
}

#img3 {
	background-image: url("../photo/Squirrel.jpg");
}

#img4 {
	background-image: url("../photo/Squirrel.jpg");
}

#img5 {
	background-image: url("../photo/Squirrel.jpg");
}

#img6 {
	background-image: url("../photo/Squirrel.jpg");
}

#img7 {
	background-image: url("../photo/Squirrel.jpg");
}

#img8 {
	background-image: url("../photo/Squirrel.jpg");
}

#img9 {
	background-image: url("../photo/Squirrel.jpg");
}

#img10 {
	background-image: url("../photo/Squirrel.jpg");
}

#img11 {
	background-image: url("../photo/Squirrel.jpg");
}

#img12 {
	background-image: url("../photo/Squirrel.jpg");
}

#img13 {
	background-image: url("../photo/Squirrel.jpg");
}

#img14 {
	background-image: url("../photo/Squirrel.jpg");
}

#img15 {
	background-image: url("../photo/Squirrel.jpg");
}

#img16 {
	background-size: 50% 100%;
	background-image: url("../picture/home80.png");
}